.IN-AUGUST {
  color: rgb(219, 26, 26);
  margin-bottom: 30px;
  font-size: 24px;
}
.best-author {
  color: black;
  font-size: 50px;
  margin-bottom: 30px;
}
ul.social-media .youtube {
  background: #d1111b;
}
.social-media {
  align-items: center;
}
.quote {
  line-height: 2;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.name_author {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
}
input[type="search"] {
  width: 100%;
}
.md-content {
  margin-top: 300px;
}
.formsearch {
  height: 100%;
}
.searchform [type="search"] {
  width: 100%;
  max-width: 890px;
  border: unset;
  border-radius: unset;
  background-color: transparent;
  color: #fff;
  height: 5rem;
  font-weight: 700;
}
.searchform [type="search"]::placeholder {
  color: #fff;
  font-weight: 700;
}
#modal-7 {
  top: 10%;
}
#modal-7 .md-content {
  background-color: transparent;
}
#modal-7 .flex-row {
  border: 3px solid #fff;
}
.searchform [type="submit"] {
  background-color: transparent;
  color: #fff;
}
.forgett {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 10px 5px 5px;
}
.sizeprice{
  font-size: 40px;
}
.sizeprice-1{
  font-size: 24px;
}
.sizeprice-2{
  font-size: 36px;
}
.author-name{
  font-size: 40px;
  text-transform: uppercase;
}
.ma-1{
  margin-top: 10px!important;
}
.ma-2{
  text-align: center;
}
